/lot1-object-marking.iml
/.idea/
/node_modules/
/dist/
rootCA.key
rootCA.pem
rootCA.srl
server.csr
server.crt
server.key
/src/web-app/node_modules/
/web-app/node_modules/
/.vscode/
.DS_Store
.env
/photogr-server/Meshroom-AliceVision/
/photogr-server/node_modules/